footer {
    background-color: whitesmoke;
    font-size: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    box-shadow: 1px -18px 24px 0px rgba(41, 41, 43, 1);
  
    h3 {
      font-size: 1.3rem;
    }
  }

  @media only screen and (max-width: 578px) {
    footer {
      flex-direction: column;
      padding: 13%;
    }
  }
  
  @media only screen and (max-width: 448px) {
    footer {
      justify-content: space-between;
      padding: 5%;
    }
  
  }