footer {
  background-color: whitesmoke;
  font-size: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  -webkit-box-shadow: 1px -18px 24px 0px #29292b;
          box-shadow: 1px -18px 24px 0px #29292b;
}

footer h3 {
  font-size: 1.3rem;
}

@media only screen and (max-width: 578px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 13%;
  }
}

@media only screen and (max-width: 448px) {
  footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5%;
  }
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../img/banner.jpg");
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5% 15% 15% 15%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 2px -7px 37px 0px black inset;
          box-shadow: 2px -7px 37px 0px black inset;
}

.banner h1 {
  font-size: 48px;
  color: white;
  font-weight: 700;
}

.banner h2 {
  color: white;
  font-weight: 700;
  margin-bottom: 5%;
}

.banner h4, .banner h5 {
  color: white;
  font-weight: 700;
}

.banner hr {
  color: white;
  height: 2px;
  width: 90%;
  opacity: 1;
}

.banner .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.banner .margin-left {
  margin-left: 10px;
}

.banner .advertisement {
  background-color: rgba(255, 255, 255, 0.911);
  color: black;
  -webkit-box-shadow: 0px 0px 100px 74px white;
          box-shadow: 0px 0px 100px 74px white;
}

@media only screen and (max-width: 578px) {
  .banner h1 {
    font-size: 34px;
  }
  .banner h2 {
    margin-bottom: 10%;
  }
  .banner #right {
    margin-top: 10px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5%;
  font-size: 140%;
  font-weight: 700;
  background-color: white;
}

header nav {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #logo, header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header #logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header #nav-margin {
  margin: 0 3%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 1px 13px 43px 4px white;
          box-shadow: 1px 13px 43px 4px white;
}

header ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
}

header li {
  display: inline-block;
  width: 90px;
  text-align: center;
}

header li:hover {
  background-color: black;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

header a {
  text-decoration: none;
  color: black;
}

header a:hover {
  color: white;
}

@media only screen and (max-width: 448px) {
  #nav-margin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* KONIEC HEADERA */
/* --------------------------------------------- */
#my-projects {
  margin: 3% 5% 10% 5%;
}

.section-gap {
  color: white;
  width: 90%;
  height: 5px !important;
  opacity: 1;
  margin: 3% auto;
  -webkit-box-shadow: 0px 0px 53px 100px white;
          box-shadow: 0px 0px 53px 100px white;
}
/*# sourceMappingURL=style.css.map */